<!DOCTYPE html>
<html>
	<head>
		<title>hoge</title>
		<script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
		var port = 3000;
		</script>
		<script type="text/javascript" src="/javascripts/bubble.js"></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
	</head>
	<body>
		<dl id="bubblelist"></dl>
	</body>
</html>