<!DOCTYPE html>
<html>
	<head>
		<title>LiveWedge effect list</title>
		<script type="text/javascript" src="/javascripts/client.js"></script>
		<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>LiveWedge effect list</h1>
		<dl>
			<dt><a href="/stream">message stream</a></dt>
			<dd>twitter上でのhtml5jに関する投稿が、某動画風に画面下を流れます。</dd>
			<dt><a href="/bubble">bubble message</a></dt>
			<dd>製作中）画面右に投稿が積み上がっていくイメージ</dd>
		</dl>
	</body>
</html>